.signature, .name {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#investors {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

#investors a {
    color: black;
}

#investors a:link {
    text-decoration: none;
}

#investors a:visited {
    text-decoration: none;
}

#investors a:hover {
    color: blue;
    text-decoration: underline;
}

#investors a:active {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 10px;
    margin: 25px;
}

.grid-item {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px black;
    border-radius: 30px;
    height: 50px;
    user-select: none;
}

.grid-item:hover {
    background-color: rgba(0,0,0,0.1);
}

.grid-item:active {
    background-color: rgba(0,0,0,0.2);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.privacy {
    position: absolute;
    right: 10px;
}

.legal {
    position: absolute;
    left: 10px;
}

.legal a:hover, .privacy a:hover {
    color: blue;
    text-decoration: underline;
}